@import "/bower_components/font-awesome/css/font-awesome.css";

html {
  font-size: 100px;
  height: 100%;
}

/* Space out content a bit */
body {
  height: 95%;
  padding-top: 70px;
  padding-bottom: 20px;
  font-size: 18px;
  background-color: #F0F5F4;
  margin-bottom: 60px;
}

.navbar-default {
  opacity: 0.95;
  background-color: #EEE9E9	;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
/*.header,*/
/*.marketing,*/
/*.footer {*/
  /*padding-left: 0px;*/
  /*padding-right: 0px;*/
/*}*/

/* Custom page header */
.header {
  border-bottom: 0px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
/*.header h3 {*/
  /*margin-top: 0;*/
  /*margin-bottom: 0;*/
  /*line-height: 40px;*/
  /*padding-bottom: 19px;*/
/*}*/

 /*Custom page footer */
.footer {
  position: relative;
  bottom: 0;
  padding-top: 19px;
  color: #777;
  /*border-top: 0px solid #e5e5e5;*/
}

/*.footer {*/
  /*position: fixed;*/
  /*margin-top: -150px; *//**//* negative value of footer height */
  /*height: 10%;*/
  /*width: 100%;*/
  /*clear:both;*/
  /*bottom: 0;*/
  /*color: #777;*/
/*}*/


/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 1100px;
  }
}

.container-narrow > hr {
  margin: 40px 0;
}


/* Main marketing message and sign up button */
.jumbotron {
 /* text-align: `;*/
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.intro {
  height: auto;
  width: 1280px;
  padding-bottom: 30px;
  /*background-color: #b0c4de;*/
  /*background-color: #D0CFCF;*/
}

ul {
  overflow: auto;
}

/*For ul and li tags*/
.icons{
  list-style-type: none;
  float: left;
}

ul li a i {
  background: #205D7A;
  color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  font-size: 25px;
  text-align: center;
  margin-right: 10px;
  padding-top: 15%;
}

.fa-facebook {
  background:#3b5998
}
.fa-linkedin {
  background:#007bb6
}
.fa-twitter {
  background:#00aced
}
.google-plus {
  background:#dd4b39
}

div.ul {
  float: left;
  position: relative;
  left: -50%;
  text-align: center;
  align-content: center;
  alignment: center;
}

ul li a i {
  transition: all 0.2s ease-in-out;
}
ul li a i:hover {
  opacity: .7;
}
