
  <div class="container" style="padding-left: 20%; padding-right: 20%">
    <div class="jumbotron">
      <h1 style="margin: 0 auto">About Me!!</h1>
      <!--<hr style="margin: 0 auto; border-color: #000000">-->
      <p class="lead">
        <!--<h3 style="margin: 0 auto">State University of New York at Binghamton</h3>-->
        <h3 style="margin: 0 auto">
          I’m Ganesh Wani. Computer Science Grad Student, Software Developer, traveller and Astronomy enthusiast.
        </h3>
        <!--<div class="pull-right">[Expected in May 2015]</div>-->
        <!--<div style="margin: 0 auto">GPA: 3.72</div>-->
        <!--<ul>-->
          <!--<li>Master of Science in Computer Science-->
            <!--<div class="pull-right">[Expected in May 2015]</div>-->
          <!--</li>-->
          <!--<li>GPA: <b>3.72</b></li>-->
        <!--</ul>-->
        <br>
        <p>
          Currently, I am pursuing Master's in Computer Science at State University of New York at Binghamton.

        <br>
          I am 23 years old.
        </p>

        <p>
         I have special interest in distributed framework - Hadoop and Machine learning framework - Mahout.
        </p>

        <p>
          I have worked on different industrial and amateur projects using languages such as <b>C, C++, Java, JavaScript,
          HTML5, CSS.</b>
        </p>

        <p>
          Till the time, I have worked with BMC Software, Cognizant Technology Solutions and Noble Americas Corp for
          their Software Development Team.
        </p>

        <p>
          <div ng-controller="AboutCtrl">
            Here is my <a ng-href="/#/about" ng-click="handleButton('resume')">Resume</a>
          </div>
        </p>
      </p>
    </div>

  </div>
